<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
	<title>Check it out!! you can sign in with Facebook! </title>
</head>
<body>

<div id="container">
  <p>This is my testing playground... come back one day and it will be bamf i swear...</p>
	<div id="user_nav">
    <% if current_user %>
        Welcome <%= current_user.name %>!
        <%= link_to "Sign Out", signout_path %>
    <% else %>
        <%= link_to "Sign in with Facebook son", "/auth/facebook" %>
    <% end %>
  </div>
</div>
<%=yield%>
</body>
</html>
